<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ site.baseurl }}/css/clear.css">
<style>

.content{
  font-family: "MicrosoftYaHei";
  font-size: 14px;
}
.content p{
  text-indent: 2em;
  color: #666;
}
.content h1{
  font-size: 2em;
}
</style>
</head>
<body>
{{content}}

<div>test1</div>
<div>size={{site.posts.size}}</div>
<div>test2</div>
{% for i in (1..site.posts.size) %}
  i:{{ i }}<br/>
	{% if site.posts[i] == page %}
    res:<br/>
    {{ i |plus:1}}<br/>
    {{ i |minus:1}}<br/>
  {% endif %}
{% endfor %}
</body>
</html>