<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ site.baseurl }}/css/clear.css">
<style>

.content{
  font-family: "MicrosoftYaHei";
  font-size: 14px;
}
.content p{
  text-indent: 2em;
  color: #666;
}
.content h1{
  font-size: 2em;
}
</style>
</head>
<body>
{{content}}

<div class="footer">
<!-- 上一章 -->
{% if page.previous %}
  <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"><span>&laquo; 上一章</span></a>
{% else %}
  <span>&laquo; 上一章</span>
{% endif %}

<!-- 页码显示 -->
<span>
{% for post in site.posts %}
  {% if page == post %}
    <em>{{ site.posts.size | minus : forloop.index0 }}&#47;{{ site.posts.size }}</em>
    {% break %}
  {% endif %}
{% endfor %}
</span>

<!-- 下一章 -->
{% if page.next %}
  <a href="{{ page.next.url | prepend: site.baseurl }}">下一章 &raquo;</a>
{% else %}
  <span>下一章 &raquo;</span>
{% endif %}
</div>

</body>
</html>